.btn.btn-primary {
    background-color: rgb(217, 115, 0);
    border-color: rgb(217, 115, 0);
}

.pagination .page-item.active .page-link {
    background-color: rgb(217, 115, 0);
    border-color: rgb(217, 115, 0);
}